:root {
  --main-bg-color: #05071A;
  --main-text-color: #fff;
  --search-bnt-bg-color: #E93E3A;
  --singin-bg-color: #404A58;
  --singin-text-color: #fff;
  --singup-bg-color: #FCC211;
  --singup-text-color: #05071A;
  --highlighted-color: #EEB712;
  --menu-bg-color: #32333F;
}