@import 'normalize.css';
@import url('./var/colors.scss');

@font-face {
  font-family: 'AA BadaBoom BB';
  src: url('src/assets/fonts/ofont.ru_AA BadaBoom.ttf') format('truetype');
}

html {
  font-size: 10px;
}

.highlighted {
  color: var(--highlighted-color);
}
